In [1]:
import pandas as pd
data  = pd.read_csv('Bicycle_Thefts_Open_Data.csv')

In [2]:
#The data
data

,X,Y,OBJECTID,EVENT_UNIQUE_ID,PRIMARY_OFFENCE,OCC_DATE,OCC_YEAR,OCC_MONTH,OCC_DOW,OCC_DAY,...,BIKE_SPEED,BIKE_COLOUR,BIKE_COST,STATUS,HOOD_158,NEIGHBOURHOOD_158,HOOD_140,NEIGHBOURHOOD_140,LONG_WGS84,LAT_WGS84
0,-8.843627e+06,5.409539e+06,1,GO-20141261431,THEFT UNDER,2014/01/01 05:00:00+00,2014,January,Wednesday,1,...,10.0,NaN,NaN,STOLEN,85,South Parkdale,85,South Parkdale (85),-79.443654,43.637658
1,-8.838280e+06,5.409890e+06,2,GO-20141263544,B&E,2013/12/26 05:00:00+00,2013,December,Thursday,26,...,21.0,SILRED,1300.0,STOLEN,165,Harbourfront-CityPlace,77,Waterfront Communities-The Island (77),-79.395624,43.639939
2,-8.840400e+06,5.413056e+06,3,GO-20141263784,PROPERTY - FOUND,2014/01/01 05:00:00+00,2014,January,Wednesday,1,...,1.0,BLK,NaN,RECOVERED,80,Palmerston-Little Italy,80,Palmerston-Little Italy (80),-79.414663,43.660520
3,-8.838091e+06,5.410320e+06,4,GO-20149000090,THEFT UNDER,2014/01/01 05:00:00+00,2014,January,Wednesday,1,...,9.0,BLU,1019.0,STOLEN,165,Harbourfront-CityPlace,77,Waterfront Communities-The Island (77),-79.393925,43.642733
4,-8.835848e+06,5.414098e+06,5,GO-20149000071,THEFT UNDER,2013/12/25 05:00:00+00,2013,December,Wednesday,25,...,25.0,RED,400.0,STOLEN,71,Cabbagetown-South St.James Town,71,Cabbagetown-South St.James Town (71),-79.373774,43.667289
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34285,-8.836299e+06,5.410361e+06,34286,GO-20232267483,THEFT UNDER,2023/09/29 04:00:00+00,2023,September,Friday,29,...,21.0,BLK,50.0,STOLEN,166,St Lawrence-East Bayfront-The Islands,77,Waterfront Communities-The Island (77),-79.377820,43.643001
34286,-8.832492e+06,5.413488e+06,34287,GO-20239048944,THEFT UNDER,2023/09/29 04:00:00+00,2023,September,Friday,29,...,15.0,TRQ,1200.0,STOLEN,70,South Riverdale,70,South Riverdale (70),-79.343626,43.663327
34287,-8.839466e+06,5.413924e+06,34288,GO-20239048939,THEFT UNDER - BICYCLE,2023/09/30 04:00:00+00,2023,September,Saturday,30,...,1.0,GRN,2000.0,STOLEN,95,Annex,95,Annex (95),-79.406270,43.666159
34288,-8.822364e+06,5.424439e+06,34289,GO-20239049061,THEFT UNDER - BICYCLE,2023/09/30 04:00:00+00,2023,September,Saturday,30,...,NaN,NaN,0.0,STOLEN,124,Kennedy Park,124,Kennedy Park (124),-79.252643,43.734450
34289,-8.834923e+06,5.426271e+06,34290,GO-20232278820,PROPERTY - FOUND,2023/09/29 04:00:00+00,2023,September,Friday,29,...,7.0,DBL,NaN,UNKNOWN,42,Banbury-Don Mills,42,Banbury-Don Mills (42),-79.365466,43.746339

In [3]:
# Description (ranger, mean, Standard deviation, etc)
data.describe()

,X,Y,OBJECTID,OCC_YEAR,OCC_DAY,OCC_DOY,OCC_HOUR,REPORT_YEAR,REPORT_DAY,REPORT_DOY,REPORT_HOUR,BIKE_SPEED,BIKE_COST,LONG_WGS84,LAT_WGS84
count,3.429000e+04,3.429000e+04,34290.000000,34290.000000,34290.000000,34290.000000,34290.000000,34290.000000,34290.000000,34290.000000,34290.000000,33909.000000,31955.000000,34290.000000,34290.000000
mean,-8.758004e+06,5.366059e+06,17145.500000,2018.296005,15.666608,199.998571,13.284369,2018.318227,15.992797,200.927442,14.227442,14.074818,990.020624,-78.674491,43.278147
std,8.379152e+05,5.134121e+05,9898.814702,2.711279,8.623963,76.675844,6.550620,2.691479,8.587584,76.944239,5.077690,10.635822,1594.476572,7.527121,4.140654
min,-8.885680e+06,5.664924e-09,1.000000,1975.000000,1.000000,1.000000,0.000000,2014.000000,1.000000,1.000000,0.000000,0.000000,0.000000,-79.821418,0.000000
25%,-8.840859e+06,5.411469e+06,8573.250000,2016.000000,8.000000,150.000000,9.000000,2016.000000,9.000000,151.000000,11.000000,6.000000,380.000000,-79.418787,43.650204
50%,-8.837728e+06,5.413325e+06,17145.500000,2018.000000,16.000000,203.000000,14.000000,2018.000000,16.000000,205.000000,14.000000,15.000000,650.000000,-79.390664,43.662268
75%,-8.835730e+06,5.416507e+06,25717.750000,2020.000000,23.000000,256.000000,19.000000,2020.000000,23.000000,258.000000,18.000000,21.000000,1100.000000,-79.372712,43.682942
max,6.327780e-09,5.450859e+06,34290.000000,2023.000000,31.000000,366.000000,23.000000,2023.000000,31.000000,366.000000,23.000000,99.000000,120000.000000,0.000000,43.905689

In [4]:
# Types
data.dtypes

X                    float64
Y                    float64
OBJECTID               int64
EVENT_UNIQUE_ID       object
PRIMARY_OFFENCE       object
OCC_DATE              object
OCC_YEAR               int64
OCC_MONTH             object
OCC_DOW               object
OCC_DAY                int64
OCC_DOY                int64
OCC_HOUR               int64
REPORT_DATE           object
REPORT_YEAR            int64
REPORT_MONTH          object
REPORT_DOW            object
REPORT_DAY             int64
REPORT_DOY             int64
REPORT_HOUR            int64
DIVISION              object
LOCATION_TYPE         object
PREMISES_TYPE         object
BIKE_MAKE             object
BIKE_MODEL            object
BIKE_TYPE             object
BIKE_SPEED           float64
BIKE_COLOUR           object
BIKE_COST            float64
STATUS                object
HOOD_158              object
NEIGHBOURHOOD_158     object
HOOD_140              object
NEIGHBOURHOOD_140     object
LONG_WGS84           float64
LAT_WGS84            float64
dtype: object

In [5]:
# Values
df = pd.DataFrame(data)
data_values = data.iloc[0]
data_values

X                                     -8843627.130186
Y                                      5409539.018644
OBJECTID                                            1
EVENT_UNIQUE_ID                        GO-20141261431
PRIMARY_OFFENCE                           THEFT UNDER
OCC_DATE                       2014/01/01 05:00:00+00
OCC_YEAR                                         2014
OCC_MONTH                                     January
OCC_DOW                                     Wednesday
OCC_DAY                                             1
OCC_DOY                                             1
OCC_HOUR                                            7
REPORT_DATE                    2014/01/01 05:00:00+00
REPORT_YEAR                                      2014
REPORT_MONTH                                  January
REPORT_DOW                                  Wednesday
REPORT_DAY                                          1
REPORT_DOY                                          1
REPORT_HOUR                                         7
DIVISION                                          D14
LOCATION_TYPE        Apartment (Rooming House, Condo)
PREMISES_TYPE                               Apartment
BIKE_MAKE                                  SUPERCYCLE
BIKE_MODEL                                        NaN
BIKE_TYPE                                          MT
BIKE_SPEED                                       10.0
BIKE_COLOUR                                       NaN
BIKE_COST                                         NaN
STATUS                                         STOLEN
HOOD_158                                           85
NEIGHBOURHOOD_158                      South Parkdale
HOOD_140                                           85
NEIGHBOURHOOD_140                 South Parkdale (85)
LONG_WGS84                                 -79.443654
LAT_WGS84                                   43.637658
Name: 0, dtype: object

In [15]:
# Corelation
data_corelation = df.corr()
data_corelation

ValueError: could not convert string to float: 'GO-20141261431'

In [8]:
#Null Values
data_null_count = data.isnull().sum()
data_null_percentage = (data.isnull().sum() / data.shape[0]) * 100
null_values = pd.DataFrame({
    'Null Count': data_null_count,
    'Null Percentage': data_null_percentage
})
null_values

                   Null Count  Null Percentage
X                           0         0.000000
Y                           0         0.000000
OBJECTID                    0         0.000000
EVENT_UNIQUE_ID             0         0.000000
PRIMARY_OFFENCE             0         0.000000
OCC_DATE                    0         0.000000
OCC_YEAR                    0         0.000000
OCC_MONTH                   0         0.000000
OCC_DOW                     0         0.000000
OCC_DAY                     0         0.000000
OCC_DOY                     0         0.000000
OCC_HOUR                    0         0.000000
REPORT_DATE                 0         0.000000
REPORT_YEAR                 0         0.000000
REPORT_MONTH                0         0.000000
REPORT_DOW                  0         0.000000
REPORT_DAY                  0         0.000000
REPORT_DOY                  0         0.000000
REPORT_HOUR                 0         0.000000
DIVISION                    0         0.000000
LOCATION_TYPE               0         0.000000
PREMISES_TYPE               0         0.000000
BIKE_MAKE                 169         0.492855
BIKE_MODEL              12860        37.503645
BIKE_TYPE                   0         0.000000
BIKE_SPEED                381         1.111111
BIKE_COLOUR              2952         8.608924
BIKE_COST                2335         6.809565
STATUS                      0         0.000000
HOOD_158                    0         0.000000
NEIGHBOURHOOD_158           0         0.000000
HOOD_140                    0         0.000000
NEIGHBOURHOOD_140           0         0.000000
LONG_WGS84                  0         0.000000
LAT_WGS84                   0         0.000000

In [ ]:
# Visualisation in Power Bi